.product-table{
    max-width: 1061px;
    grid-template-columns: auto auto auto;
}

@media screen and (max-width: 1157px){
    .product-table{
        max-width: 702px;
        grid-template-columns: auto auto ;
    }
}

@media screen and (max-width: 782px){
    .product-table{
        max-width: 343px;
        grid-template-columns: auto;
    }
}